.course{
    /* background-color: aqua; */
    max-width: 250px;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    font-style: italic;
    display: inline-block;
}

.course img{
    width: 200px;
    height: 150px;
}



